@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

*:focus {
    outline:none;
}

:root {
    --primary-color : #301f58;
    --secondary-color : #f6dffa;
}

body {
    background-color: var(--secondary-color);
}

.nav {
    background-color: var(--primary-color);
    height: 4rem;
}

.nav-links {
    display: flex;
    margin: 0rem 30rem;
}

.list-inline {
    list-style: none;
    margin: 1.3rem;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: var(--secondary-color)
}

a:hover {
    color : var(--secondary-color);
    font-weight: bold;
    letter-spacing: 1.3px;
}

.header {
    text-align: center;
    margin: 2.5rem;
}

h1 {
    font-size: 2.5rem;
}

label, button{
    display: block;
}

.container {
    text-align: center;
    width: 100%;
}

.inplabel {
    margin : 0.5rem
}

.inpAngle {
    height: 1.8rem;
    width: 30%;
    padding: 0.2rem 1rem;
    margin-bottom: 1.3rem;
    border: none;
    border-radius: .5rem;
}

.check-btn {
    margin: 1rem 42rem;
    border: none;
    border-radius: .6rem;
    height: 2.5rem;
    width: 6.5rem;
    background-color: var(--primary-color);
    color : white;
    font-size: 1rem;
}

.check-btn:hover {
    font-weight: bold;
}

.outputMsg {
    margin: 2rem;
}
/* ---------------------------------------------------------- footer------------------------------ */


.footer {
    margin: auto;
    

}

.footer-container {
    margin:16rem 0px 0px 0px;
    max-width: 1400px;
    
    
    
}

.footer__inner {
    margin: 0;
    padding: em;
    display: flex;
}

.footer__section {

    padding-top: 1em;
    margin-bottom: 1em;

    font-weight: 300;
    font-size: 1.1rem;
    color: rgb(164, 133, 177);
    margin-bottom: 0px;
    display: block;

}

.footer__social-list {
    margin-top: 1.1em;
    padding-left: 0;
    list-style: none;
    display: inline-flex;
}

.footer__social-link {
    text-decoration: none;
    padding: 10px;

}

.footer__social-icon {
    height: 32px;
    color: white;
    fill: rgb(184, 158, 187);

}

.footer__social-icon:hover {
    fill: #3f1e4d;
    color: #586dca
}
/* ---------------------------------------------------------- footer ended------------------------------ */
